# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Model files
*.h5
*.keras
*.pt
*.pth
*.onnx
models/

# Project Specific Data & Outputs
dataset/
outputs/
results/

# Logs
logs/
*.log

# Cache
.cache/

# OS
.DS_Store
Thumbs.db